/* container */
.container {width: 1000px; margin: 0 auto; background: #ccc;}

/* row */
.row {position: relative; margin: 0 20px;}

/* header */
#header {height: 100px; background: #ddd;}

#header .header-data {}
#header .header-title {}
#header .header-id {}